<script type="text/template" id="tplPostCommentsWrap">
	<hr>
	<section class="box">
		<h4 class="h2 box__title-i">{{ trans('news::comments.post_show.title') }}</h4>
		<div class="comment-list" id="comment-list"></div>
	</section>
</script>
