<script type="text/template" id="tplNavigationSimpleNextLink">
	<a rel="next" class="btn btn-link navigation__btn navigation-simple__btn"
	   href="<%= next_page_url %>">
		<span class="navigation-simple__btn-text">{{ trans('news::pagination.next') }}</span>
		<span>→</span>
	</a>
</script>