<script type="text/template" id="tplNavigationSimplePrevBtn">
	<button class="btn btn-link navigation__btn navigation-simple__btn" type="button"
			disabled="disabled">â† {{ trans('news::pagination.previous') }}</button>
</script>