<script type="text/template" id="tplNavigationSimpleNextBtn">
	<button class="btn btn-link navigation__btn navigation-simple__btn" type="button"
			disabled="disabled">{{ trans('news::pagination.next') }} →
	</button>
</script>