<script type="text/template" id="tplNavigationSimplePrevLink">
	<a rel="prev" class="btn btn-link navigation__btn navigation-simple__btn"
	   href="<%= prev_page_url %>">
		<span>â†</span>
		<span class="navigation-simple__btn-text">{{ trans('news::pagination.previous') }}</span>
	</a>
</script>