{% macro comment() %}
	<div class="comment-list__item">
		<div class="comment-list__url">
			<div class="comment-list__text"></div>
			<div class="clearfix text-muted comment-list__info">
				<time class="comment-list__date"></time>
				<span class="comment-list__author"></span>
			</div>
		</div>
	</div>
{% endmacro comment %}