<footer class="container">
	<div class="row">
		<div class="col-xs-12 page-footer">
			<a rel="alternate home" class="navbar-brand" href="{{ route('home', [], false) }}">NewsCrud</a>
		</div>
	</div>
</footer>